@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-image: url(./public/images/v748-toon-111.jpg);
  background-repeat: no-repeat;
  color:rgb(68, 82, 82)
}

.container {
  width: 500px;
  margin: 198px auto;
  border-radius: 15px;
  background-color: rgb(204, 186, 221);
  overflow: hidden;
}

.clock-image {
  width: 100%;
  height: 270px;
}

.clock {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

.user-input {
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  gap: 15px;
}

.user-input input {
  height: 50px;
  gap: 10px;
  font-size: 25px;
  background-color: rgb(68, 82, 82);
  border: solid;
  border-radius: 15px;
  border-color: rgb(196, 207, 204);
  padding: 10px;
  color: rgba(0, 0, 0, 0.911)
}

.user-input input:hover {
  opacity: 0.93;
}

.user-input button {
  font-size: 25px;
  background-color: rgb(68, 82, 82);
  border: solid;
  border-radius: 15px;
  border-color: rgb(196, 207, 204);
  padding: 20px;
  color: rgba(0, 0, 0, 0.911)
}

.user-input button:hover {
  opacity: 0.93;
}

.worning {
  font-size: 25px;
  width: 100%;
  background-color: rgb(204, 186, 221);
  text-align: center;
  color: rgb(221, 54, 54);
}

.alarms {
  font-size: 25px;
  width: 100%;
  background-color: rgb(204, 186, 221);
  text-align: center;
  margin-bottom: 20px;
}